
.imgBack{
    width: 100%;
    position: absolute;
    top: 0;
    height: 100vh;
    z-index: -1;
    object-fit: cover;
  }
  .caption-left{
   text-align: left;
   /* z-index: 1; */
   position: relative;
   width: 50%;
   margin: 25%;
 }
 .row{
  top: 0;
  margin: 0;
  height: 100vh;
} 
.grid-container{
  display: grid;
  grid-template-rows: auto;
  width: 100%;
  text-align: center;
}
.grid-row{
  margin: 0 10%;
  padding: 5% 10%
}
h2{
  font-weight: bold;
}
.pair{
  background: #f7f7f7;
}
.image{
  width: 10%;
  height: auto;
}
.desktop{
  display: block;
}
.mobile{
  display: none;
}
@media only screen and (max-width: 770px){
  .caption-left{
    margin: 50% 0 50% 35%;
  }
  .row{
    background-color: #bcdcee;
    
  }
 .desktop{
   display: none;
 }
 .grid-row{
  margin: 0 5%;
  padding: 5% 15% 5% 10%;
}

}
@media only screen and (max-width: 430px) {
.caption-left{
  text-align: center;
  position: relative;
  width: 100%;
  margin: 50% 15%;
}
h2{
  font-size: 24px;
  font-weight: bold;
}
p{
  font-size: 18px;
}
button{
  font-size: 18px;
}
.grid-row{
  margin: 5%;
  padding: 5%
}
.desktop{
  display: none;
}
.mobile{
  display: block;
}
.image{
  width: 20%;
  height: auto;
}

}