.container-fluid{
  padding: 0;
  margin: 0;
}
.imgBack{
    width: 100%;
    position: absolute;
    top: 0;
    height: 100vh;
    /*margin: 2% 0 0 0;*/
    z-index: -1;
    object-fit: cover;
  }
  .caption-left{
   text-align: left;
   /* z-index: 1; */
   position: relative;
   width: 50%;
   margin: 25%;
 }
 .row{
  top: 0;
  margin: 0;
  height: 100vh;
} 
.row_2{
  background-color: #f7f7f7;
  width: 100%;
  text-align: center;
  /* padding: 10% 0; */
  /* margin: 5% 0; */
}
.center{
  padding: 5% 10%;
}
.row_2 p{
  /* opacity: 0; */
  top: 10px;
  position: relative;

}
.row_2 h3{
  /* opacity: 0; */
  top: -10px;
  position: relative;
}

.row_4{
  width: 100%;
  /* background-color: #f7f7f7; */
  height: 30vh;
  text-align: center;
  /* padding: 10% auto; */
  /* margin: 10% auto; */
}
.row_4 .content{
  margin: 5%;
}
.row_4 .content h1{
  /* opacity: 0; */
  top: 10px;
  position: relative;
}
.row_4 .content p{
  /* opacity: 0; */
  top: 10px;
  position: relative;
}
.row_4 .content .btn{
  /* opacity: 0; */
  top: 10px;
  position: relative;
}

.img{
  z-index: -1;
  position: absolute;
  width: 50%;
  height: auto;
}
.desktop{
  display: block;
}
.mobile{
  display: none;
}
.row_5{
  height: 50vh;
  width: auto;
  text-align: center;
  background-color: #f7f7f7;
  
}
.row_5 h2, .row_5 p, .row_5 img{
  /* opacity: 0; */
  top: 20%;
  position: relative;
}

.row_6{
height: 50vh;
text-align: center;
}
.row_6 h3, .row_6 p, .row_6 a{
  /* opacity: 0; */
  top: 20%;
  position: relative;
}
/* .center{
  margin: 5% auto;
  width: 50%;
} */
.center img{
  width: 15%;
  height: 15%;
}

@media only screen and (max-width: 430px) {
.caption-left{
  text-align: center;
  position: relative;
  width: 100%;
  margin: 50% 15%;
}
.desktop{
  display: none;
}
.mobile{
  display: block;
}

}