<div [@animateRowOne]='animate' class="row">
  <img class="imgBack desktop" src="/assets/images/Towne-pharmacy-about-us.jpg" alt="">
  <img class="imgBack mobile" src="/assets/images/mobile/towne-pharmacy-about-us.jpg" alt="">
  <div id="caption1" class="caption caption-left">
    <div class="logo">
      <h1>About Us</h1>
    </div>
  </div>
</div>
<div class="grid-container">
  <div class="pair">
    <div class="grid-row">
      <h2>Who we are</h2>
      <p>Here, at Towne Pharmacy, we truly believe in patient centered care and gear our customer service in ways that improve
        patient health.</p>
      <p>Towne Pharmacy is a traditional retail pharmacy that also services several long-term care clients, adult day care centers,
        and hospice facilities.</p>
      <p>Our rich history in serving patients has placed us as one of the reputable and trustworthy pharmacies in the area and
        we continue to reciprocate this trust by providing patients with services such as free delivery, compounding, compliance
        packaging, immunizations, medicare plan consulting, and Medication Therapy Management (MTM).
      </p>
    </div>
  </div>
  <div class="odd">
    <div class="grid-row">
      <h2>Our Team,</h2>
      <p>Our team is dedicated to helping you.</p>
      <button type="button" class="btn btn-md" routerLink="/team">Learn More</button>
    </div>
  </div>
  <div class=" pair">
    <div class="grid-row">
      <img class="image" src="/assets/icons/heartbeat.png" alt="">
      <h2>Our Mission</h2>
      <p>At Towne Pharmacy, we strive to be much more than your typical dispensing pharmacy.</p>
      <p>Our aim is to promote overall health and wellness to you and your family.</p>
    </div>
  </div>
  <div class="odd">
    <div class="grid-row">
      <h2>Where we are</h2>
      <p>103 Ridgedale Ave
        <br> Cedar Knolls, NJ 07927</p>
      <a class="btn btn-md" href="https://www.google.com/maps/place/Towne+Pharmacy/@40.820677,-74.449546,15z/data=!4m5!3m4!1s0x0:0xcdba44e701a07c28!8m2!3d40.820677!4d-74.449546">Drive to our pharmacy</a>
    </div>
  </div>
</div>