<div id="caption1" class="caption desktop">
  <div class="logo">
    <h1>Immunization</h1>
  </div>
</div>
<div class="content">
  <h2>Immunization</h2>
  <p>At Towne Pharmacy, we aim to improve the overall health of the community.</p>
  <p>Recommending and administering the appropriate vaccinations is the most important intervention that a community pharmacist
    can provide to the community.</p>
  <p>Come to us for with your vaccine questions.</p>
  <p> We immunize all adults and children’s 7 and up.</p>
</div>