.content{
    padding: 5% 10%
}
img{
    max-height: 90%;
    max-width: 90%;
    display: block;
    padding: 5%;
    margin: 0 5% 
}
@media only screen and (max-width: 430px){
    img{
        display: none
    }
}