<div class="grid-item">
  <div id="caption1" class="caption desktop">
    <div class="logo">
      <h1>Compliance Packing</h1>
    </div>
  </div>
</div>
<div class="grid-item">
  <div class="content">
    <h3>Compliance Packing</h3>
    <p>Do you or your family member get confused between the red and blue pill?</p>
    <p>Or have trouble remembering when to take the medication?</p>
    <p>Let us develop your personal medication regimen and take the hassle out of health care!</p>
    <p>According to Network for Excellence in Health Innovation, 50% of adults do not take the medication as prescribed and
      poor medication adherence behavior is, “ one of the drug-related problems responsible for up to 13% of total health
      care expenditures, or $290 billion annually in unnecessary costs.”</p>
  </div>
</div>