<div class="row">
  <div class="col_1 col-md-6 col-sm-12">
    <div class="content">
      <h3>Compliance Packing</h3>
      <h5>Do you or your family member get confused between the red and blue pill?</h5>
      <h5>Or have trouble remembering when to take the medication?</h5>
      <h5>Let us develop your personal medication regimen and take the hassle out of health care!</h5>
      <p>According to Network for Excellence in Health Innovation, 50% of adults do not take the medication as prescribed and
        poor medication adherence behavior is, “ one of the drug-related problems responsible for up to 13% of total health
        care expenditures, or $290 billion annually in unnecessary costs.”</p>
      <button type="button" class="btn btn-md" href="http://www.pharmacytimes.com/publications/directions-in-pharmacy/2015/august2015/compliance-packaging-one-way-to-help-the-medicine-go-down"
        target="_blank">Read More</button>
    </div>
  </div>
  <div class="col_2 col-6">
    <div class="img">
      <img src="assets/images/compliance-packing.jpg" alt="">
    </div>
  </div>
</div>