<div class="grid-container" [@cardAnimation]='animate'>
  <div class="grid-item">
    <div class="in-grid-container">
      <div class="in-grid-item">
        <img src="/assets/icons/compliance-packing.png" alt="">
      </div>
      <div class="in-grid-item">
        <h4>Compliance Packing</h4>
      </div>
      <div class="in-grid-item">
        <p>Let us develop your personal medication regimen and take the hassle out of health care</p>
      </div>
      <div class="in-grid-item">
        <button routerLink="/compliance-packing" class="btn btn-md">read more</button>
      </div>
    </div>
  </div>
  <div class="grid-item">
    <div class="in-grid-container">
      <div class="in-grid-item">
        <img src="/assets/icons/long-term-care.png" alt="">
      </div>
      <div class="in-grid-item">
        <h4>Long Term Care</h4>
      </div>
      <div class="in-grid-item">
        <p>A variety of services designed to meet a person's health or personal care needs</p>
      </div>
      <div class="in-grid-item">
        <button routerLink='/long-term-care' class="btn btn-md">read more</button>
      </div>
    </div>
  </div>
  <div class="grid-item">
    <div class="in-grid-container">
      <div class="in-grid-item">
        <img src="/assets/icons/corporate-accounts.png" alt="">
      </div>
      <div class="in-grid-item">
        <h4>Corporate Accounts</h4>
      </div>
      <div class="in-grid-item">
        <p>Let us simplify your employees life and take care of all their healthcare needs</p>
      </div>
      <div class="in-grid-item">
        <button routerLink='/corporate-accounts' class="btn btn-md">read more</button>
      </div>
    </div>
  </div>
  <div class="grid-item ">
    <div class="in-grid-container">
      <div class="in-grid-item">
        <img src="/assets/icons/immunizations.png" alt="">
      </div>
      <div class="in-grid-item">
        <h4>Immunizations</h4>
      </div>
      <div class="in-grid-item">
        <p>At Towne Pharmacy, we aim to improve the overall health of the community</p>
      </div>
      <div class="in-grid-item">
        <button routerLink='/immunization' class="btn btn-md">read more</button>
      </div>
    </div>
  </div>
  <div class="grid-item">
    <div class="in-grid-container">
      <div class="in-grid-item">
        <img src="/assets/icons/mtm.png" alt="">
      </div>
      <div class="in-grid-item">
        <h4>MTM</h4>
      </div>
      <div class="in-grid-item">
        <p>Services that optimize therapeutic outcomes for individual patients</p>
        <br>
      </div>
      <div class="in-grid-item">
        <button routerLink='/medication-therapy-management' class="btn btn-md">read more</button>
      </div>
    </div>
  </div>
  <div class="grid-item">
    <div class="in-grid-container">
      <div class="in-grid-item">
        <img src="/assets/icons/hospice-care.png" alt="">
      </div>
      <div class="in-grid-item">
        <h4>Hospice Care</h4>
      </div>
      <div class="in-grid-item">
        <p>We take care of patients at all stages of life, especially during the end of life</p>
      </div>
      <div class="in-grid-item">
        <button routerLink='/hospice-care' class="btn btn-md">read more</button>
      </div>
    </div>
  </div>
  <div class="grid-item">
    <div class="in-grid-container">
      <div class="in-grid-item">
        <img src="/assets/icons/medicare-consultation.png" alt="">
      </div>
      <div class="in-grid-item">
        <h4>Medicare Consultation</h4>
      </div>
      <div class="in-grid-item">
        <p>We can help you pick a plan that is right for you and your medications</p>
      </div>
      <div class="in-grid-item">
        <button routerLink='/medicare-consultation' class="btn btn-md">read more</button>
      </div>
    </div>
  </div>
  <div class="grid-item">
    <div class="in-grid-container">
      <div class="in-grid-item">
        <img src="/assets/icons/calendar.svg" alt="">
      </div>
      <div class="in-grid-item">
        <h4>Reminders, RX Sync</h4>
      </div>
      <div class="in-grid-item">
        <p>We sync all your medications for one time quick pick up</p>
        <br>
      </div>
      <div class="in-grid-item">
        <button routerLink='/medication-reminders' class="btn btn-md">read more</button>
      </div>
    </div>
  </div>
  <div class="grid-item">
    <div class="in-grid-container">
      <div class="in-grid-item">
        <img src="/assets/icons/free-delivery.png" alt="">
      </div>
      <div class="in-grid-item">
        <h4>Free Delivery</h4>
      </div>
      <div class="in-grid-item">
        <p>We offer free delivery Monday - Friday to nearby areas</p>
        <br>
      </div>
      <div class="in-grid-item">

      </div>
    </div>
  </div>
</div>