.grid-container{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: auto;
    grid-gap: 2%;
    grid-row-gap: 2%;
    margin: 5% 10%;
}
.grid-item{
    margin-top: 5%;
    padding: 5%;
    text-align: center;
    background-color: #f7f7f7;
}

h4{
    font-weight: 700
}
img{
    height: 20%;
    width: 20%;
}
.inrow{
text-align: center;
padding: 2%;
}
.in-grid-container{
    display: grid;
    grid-template-rows: 15% 10% 150px 10%; 
}
.in-grid-item{
        margin-top: 1%;
        padding: 2%;
        /* border: 1px solid */
}

@media only screen and (max-width: 770px){
    .grid-container{
        display: grid;
        grid-template-columns: 45% 45%;
        grid-template-rows: auto;
        grid-gap: 2%;
        grid-row-gap: 2%;
        margin: 5% 10%;
    }
    .in-grid-container{
        display: grid;
        grid-template-rows: 10% 100px 170px 10%; 
    }
}
@media only screen and (max-width: 430px){
    .grid-container{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto;
        grid-gap: 2%;
        grid-row-gap: 2%;
        margin: 5% 10%;
    }
    .grid-item{
        margin-top: 5%;
        padding: 5%;
        text-align: center;
        background-color: #f7f7f7;
    }
}