<div class="row">
  <div class="col_1 col-6">
    <img src="/assets/images/long-term-care.png" alt="">
  </div>
  <div class="col_2 col-md-6">
    <div class="content">
      <h3>Long Term Care</h3>
      <p>The National Institute of Health defines Long Term Care (LTC) as, “a variety of services designed to meet a person's
        health or personal care needs during a short or long period of time. These services help people live as independently
        and safely as possible when they can no longer perform everyday activities on their own.”</p>
      <p>Our team is equipped with appropriate tools, knowledge and adheres to every state regulations.</p>
      <p>Due to our expertise in the area, we serve several corporate LTC clients such as</p>
      <ul>
        <li>
          <a href="https://www.arden-courts.com/" target="_blank">Arden Courts</a>
        </li>
        <li>
          <a href="https://www.arborcompany.com" target="_blank">Arbor Terrace</a>
        </li>
        <li>
          <a href="https://www.arcmorris.org/" target="_blank">ARC of Morris</a>
        </li>
      </ul>

      <p>Please do not hesitate to contact us to find out which residence will be the best for your relative.</p>
      <button type="button" class="btn btn-sm" href="tel:9735387687">Contact us</button>
    </div>
  </div>
</div>