<div id="caption1" class="caption desktop">
  <div class="logo">
    <h1>Corporate Accounts</h1>
  </div>
</div>
<div class="content">
  <h3>Corporate Accounts</h3>
  <p>In addition to serving our local community, we also cater to corporate accounts in the area. One of our premier clients
    is Honeywell Inc. in Morris Plains.</p>
  <p>We provide services such as</p>
  <ul>
    <li>Same day medication drop off</li>
    <li>Travel and maintenance vaccinations for the employees</li>
  </ul>
  <p>Let us simplify your employees life and take care of all their healthcare needs from prescription items to over the
    counter medications. </p>
</div>