<div class="container">
  <div class="card">
    <div class="card-body">
      <p>At Towne Pharmacy I found “home.” Personal, caring, knowledgeable and competent. They know me and my family and have
        relationships with the local medical community. They go the extra mile in everything they do.</p>
      <a routerLink="/reviews">Read more</a>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <p>The Towne Pharmacy experience is a pleasure. Thanks guys!</p>
      <a routerLink="/reviews">Read more</a>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <p>The care you receive is what you would expect from friends and neighbors.</p>
      <a routerLink="/reviews">Read more</a>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <p>We wouldn’t think of ever not using Towne Pharmacy for all our medical needs.</p>
      <a routerLink="/reviews">Read more</a>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <p>What a wonderful neighborhood pharmacy. I wouldn’t go anywhere else.</p>
      <a routerLink="/reviews">Read more</a>
    </div>
  </div>
</div>