.grid-container{
	position: absolute;
	top:20px;
    width: 90%;
    padding: 2% 0;
	margin: 0 5%;
	display: -webkit-flex; /* Safari */
    -webkit-flex-wrap: wrap; /* Safari 6.1+ */
    display: flex;
	flex-wrap: wrap;
	background-color:transparent;
	z-index:9999;
}
.grid-container div:nth-of-type(2) {flex-grow: 3;}

ul{
	display: inline;
	list-style: none;
}
.one{
	text-align: left;
}
.two{
	text-align: right;
}

li{
	position: relative;
	display: inline;
	padding: 0 2%;
  	font-size: 24px; 
}
a{
	text-decoration: none;
	border-top: 3px solid transparent;
	border-bottom: 3px solid transparent;
	padding: 10px 0;
	-webkit-transition: 0.4s ease-in-out;
	-moz-transition: 0.4s ease-in-out;
	transition: 0.4s ease-in-out;
}
a:hover{
	
	border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 6px 0; 
  /* color: black */
}
@media only screen and (max-width: 770px){
	.one{
		display: none;
	}
	.grid-container{

		grid-template-columns: 100%;
		text-align: center;
		width: 75%;
	}
	ul{
		padding: 0;
	}
	.tow{
		width: 100%;
	}
	li a{
		font-size: 20px; 
	}
	h4{
		font-size: 20px;
	}
}

@media only screen and (max-width: 450px){
	.row{
		display: none;
	}
}