<div class="row">
  <div class="grid-container">
    <div class="grid-item one" style="text-align: left">
      Towne Pharmacy
    </div>
    <div class="grid-item two" style="text-align: center">
      <ul>
        <li>
          <a routerLink='/home'>home</a>
        </li>
        <li>
          <a routerLink='/our-pharmacy'>our pharmacy</a>
        </li>
        <li>
          <a routerLink='/services'>services</a>
        </li>
        <li>
          <a href='https://www.google.com/maps/place/Towne+Pharmacy/@40.820677,-74.449546,15z/data=!4m5!3m4!1s0x0:0xcdba44e701a07c28!8m2!3d40.820677!4d-74.449546'>drive to our pharmacy</a>
        </li>
        <li style="border-right: none">
          <a routerLink='/contact-us'>contact us</a>
        </li>
      </ul>
    </div>
    <div class="grid-item three" style="text-align: right">
      ©2018 Towne Pharmacy
    </div>
  </div>
</div>