<div class="row">
  <img class="imgBack desktop" src="/assets/images/medication-therapy-management.jpg" alt="">
  <div class="col-md-6">
    <div class="content">
      <h3>Medication Therapy Management</h3>
      <p>According to American Pharmacist Association, Medication therapy management is defined as “distinct service or group
        of services that optimize therapeutic outcomes for individual patients”.</p>
      <p>These services include but are not limited to</p>
      <ul>
        <li>Selecting or changing therapy</li>
        <li>Understanding and resolving medication related problems</li>
        <li>Coordinating with your physician to provide the best possible health outcome</li>
        <li>Documenting the interventional care and communicating with the PCPs regarding the important health care information</li>
      </ul>
    </div>
  </div>
</div>