<div class="row">
  <img class="imgBack desktop" src="/assets/images/team/team.jpg" alt="">
  <div class="caption-center">
    <div>
      <h1 id="title">OUR TEAM</h1>
    </div>
  </div>
</div>
<!-- SAPAN -->
<div class="content">
  <div class="grid-container">
    <div class="grid-item-1">
      <div class="in-grid-container">
        <div class="in-grid-item">
          <img src="/assets/images/team/sapan.jpg" alt="">
        </div>
        <div class="in-grid-item">
          <h4>Sapan Patel</h4>
          <h6>Pharmacist</h6>
        </div>
        <div class="in-grid-item">
          <p> I am the pharmacy manager at Towne Pharmacy.</p>
          <p>I obtained my pharmD. from University of the Sciences in Philadelphia in 2015. Although relatively young in the
            field, my drive to succeed and willingness to help our patients everyday has earned me the patients’ respect
            and recognition.</p>
          <p>As a pharmacist in charge, I continue to nurture the profession by precepting pharmacy students from Philadelphia
            College of Pharmacy, Farleigh Dickinson University, and Rutgers University.</p>
          <p>At Towne Pharmacy, I make it my duty to serve each patient with utmost care and responsibility. I am deeply humbled
            for practicing in and carrying on the legacy of Towne Pharmacy.</p>
        </div>
      </div>
    </div>
    <div class="grid-item-2">
      <div class="in-grid-container">
        <div class="in-grid-item">
          <img src="/assets/images/team/employee-2.jpg" alt="">
        </div>
        <div class="in-grid-item">
          <h4>Helen Fekete</h4>
          <h6>Pharmacist</h6>
        </div>
        <div class="in-grid-item">

        </div>
      </div>
    </div>
    <div class="grid-item-3">
      <div class="in-grid-container">
        <div class="in-grid-item">
          <img src="/assets/images/team/employee-5.jpg" alt="">
        </div>
        <div class="in-grid-item">
          <h4>Alice Smith</h4>
          <h6>Compounding Specialist</h6>
        </div>
        <div class="in-grid-item">
        </div>
      </div>
    </div>
  </div>
</div>