<div class="row">
  <div class="col_1 col-md-6">
    <div class="content">
      <h2>Hospice Care</h2>
        <p>At Towne Pharmacy, we take care of patients at all stages of life, especially during the end of life. We provide
          care to terminally ill patients and work cooperatively with various hospice facilities in the area to ensure that
          patients live comfortably and have a good quality of life during their last days.</p>
    </div>
  </div>
  <div class="col_2 col-6">
    <div class="img">
      <img src="assets/images/hospice-care.jpg" alt="hospice-care">
    </div>
  </div>
</div>