<div id="caption1" class="caption desktop">
  <div class="logo">
    <h1>Hospice Care</h1>
  </div>
</div>
<div class="content">
  <h3>Medication Therapy Management</h3>
  <p>At Towne Pharmacy, we take care of patients at all stages of life, especially during the end of life. We provide
    care to terminally ill patients and work cooperatively with various hospice facilities in the area to ensure that
    patients live comfortably and have a good quality of life during their last days.</p>
</div>