<div class="row">
  <img class="imgBack desktop" src="/assets/images/medication_reminder.jpg" alt="">
  <div class="col-md-6">
    <div class="content">
      <h3>Auto Refills, Reminders and RX Sync</h3>
      <p>We sync all your medications for one time quick pick up.</p>
      <p>Call us to setup a medication reminder service</p>
      <a href="tel:9735387687">
        <h4>
          <img class="icon" src="/assets/icons/phone.png" alt=""> (973) 538-6787</h4>
      </a>
    </div>
  </div>
</div>