.imgBack{
  position: absolute;
  z-index: -1;
  object-fit: cover;
  height: 60vh;
  width: 100%
}
.row{
  height: auto;
  margin: 0;
  padding: 0;
}
.content{
  padding: 10%;
}
@media only screen and (max-width: 430px){
  .row{
    width: 100%;
    margin: 0;
    height: auto;
    background-color: #f7f7f7;
  }
  .content{
    width: 100%;
    margin: 0;
    padding: 5% 1%;
  }
 h4{
   padding: 5%;
   margin: 0 10%;
 }
  img{
    display: none
  }
}