<div class="row" [@navBar]='state'>
    <div id="menu-navbar"  class="grid-container">
        <div class="grid-item one">
            <h4>Towne Pharmacy</h4>
        </div>
        <div class="grid-item two">
            <ul>
                <li>
                    <a routerLink="/home">Home</a>
                </li>
                <li>
                    <a routerLink="/our-pharmacy">Our Pharmacy</a>
                </li>
                <li>
                    <a routerLink="/services">Services</a>
                </li>
                <li>
                    <a routerLink="/contact-us">Contact Us</a>
                </li>
            </ul>
        </div>
    </div>
</div>