<div id="menu-navbar" [@navBar]='state'>
  <div class="container">
      <div class="row">
          <div class="col-lg-2 col-md-2 col-sm-2" style="font-size: 14px">TOWNE PHARMACY</div>
          <div class="col-lg-8 col-md-8 col-sm-8">
              <ul class="menu">
                  <li><a routerLink="/home">Home</a></li>
                  <li><a routerLink="/our-pharmacy">Our pharmacy</a></li>
                  <li><a routerLink="/services">Services</a></li>
              </ul> 
          </div>
      </div>  
  </div>  
</div>
