<div class="content">
  <div class="container">
    <h2>What customers have to say about us.</h2>
    <div class="card">
      <div class="card-body">
        <p>Everything, and I mean everything about health care has become more difficult, more expensive and less personal.
          As a patient and consumer, we are constantly being challenged to pay more and get less and less. This is especially
          true for pharmacies. </p>
        <p>The big box stores that have become ubiquitous in every community are understaffed, understocked, overtaxed, overpriced
          and impersonal.</p>
        <p>Little things like a simple follow up with a physician’s office become a major undertaking. Then a physician friend
          recommended Towne Pharmacy. </p>
        <p> I was so frustrated in dealing with the medicine assembly line that I gave them a try.</p>

        <p>At Towne Pharmacy I found “home.” Personal, caring, knowledgeable and competent. They know me and my family and have
          relationships with the local medical community. They go the extra mile in everything they do.</p>

        <p>The Towne Pharmacy experience is a pleasure. Thanks guys!</p>
        <p class="author">-Scott Bleir</p>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <p>At Towne Pharmacy, one is always greeted with a warm hello and smile, where your healthy and well-being are first
          priority.
        </p>
        <p>The care you receive is what you would expect from friends and neighbors.</p>
        <p class="author">-Marcia M</p>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <p>We have been customers at Towne Pharmacy since 1972….and would not consider using any other pharmacy in the area.
          Even though the pharmacy has changed ownership over the years, the service and quality of the staff has remained
          outstanding.
        </p>
        <p>We have come to rely on their experience and advice when administering our medications. They go beyond being the
          local merchant to a “trusted” neighborhood friend. Their patience and understanding in handling any difficult situation,
          insurance issues, doctor’s offices not returning phones calls, exceeds expectations.</p>
        <p>Although we have moved from Cedar Knolls to Morris Plains, we wouldn’t think of ever not using Towne Pharmacy for
          all our medical needs. We are treated as valued customers not just patrons.
        </p>
        <p class="author">-Don and Arlene E.</p>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <p>We the Penn family has been satisfied customers of Town Pharmacy for the past 30 years; we deeply appreciate their
          professional care of our medical needs.</p>
        <p class="author">-Harold, Ruth and Denise Penn</p>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <p>I really appreciate the care and consideration Town Pharmacy has shown to me over the years. </p>
        <p>I have been a loyal customer for almost 3 decades; you just can’t beat the local experience.</p>
        <p>Whether on the phone or in person, they always know my name and what I need. </p>
        <p>What a wonderful neighborhood pharmacy. I wouldn’t go anywhere else.</p>
        <p class="author">-Dr. Jon Molinare</p>
      </div>
    </div>
  </div>
</div>