<div class="row">
  <div class="col_1 col-6">
    <div class="img">
      <img src="assets/images/medicare-consultation.jpg" alt="">
    </div>
  </div>
  <div class="col_2 col-md-6">
    <div class="content">
      <h2>Medicare Part D Plan Consultation</h2>
      <p>According to the CMS, there are approximately 746 medicare plans in the market. How do you know which plan is right
        for you? We can help you pick a plan that is right for you and your medications, provide you with effective cost
        savings, and keep us as a preferred pharmacy.</p>
    </div>
  </div>
</div>