<div class="container-fluid">
  <div class="row">
    <img class="imgBack desktop" src="/assets/images/Towne-pharmacy-medication-1.jpg" alt="">
    <img class="imgBack mobile" src="/assets/images/mobile/towne-pharmacy-mobile.jpg" alt="">
    <div id="caption1" class="caption caption-center">
      <h1>Towne Pharmacy</h1>
      <p class="logoP">An independent pharmacy in Cedar Knolls, NJ</p>
      <button class="btn btn-sm" ty pe="button" name="button" routerLink="/our-pharmacy">Learn More About Us</button>
    </div>
  </div>
</div>