@import "~bootstrap/dist/css/bootstrap.min.css";
@import url('https://fonts.googleapis.com/css?family=Quicksand:300');
body{
  top: 0;
  position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: white;
    font-family: 'Quicksand'
  }
  p{
    font-size: 22px;
  }
  li{
    font-size: 22px;
    list-style: none;
  }
  
  .btn{
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  .btn-md, .btn-sm, .btn-lg {
    border-radius: 0;
    color: white;
    background-color: black;
    border: 1px solid black;
    font-size: 22px;
  }
  .btn:hover{
    background-color: white;
    border: 1px solid black;
    color: black;
  }
  a{
    cursor: pointer;
    color: #555555;
    font-size: 26px;
  }
  @media only screen and (max-width: 430){
    p{
      font-size: 14px;
    }
    li{
      font-size: 17px;
      list-style: none;
    }
    
  }